*.psc
*.o
vertexcol
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
libompdist.a
gentest
leader_elect_lcr
mis
leader_elect_dp
bfs_dijkstra
session.vim
leader_elect_hs
kcommittee
byzantine
dominating_set
bellman_ford
vertex_coloring
mst
*.i
*.bc
*.s
*.ll
input
output
output_times
